<h1>{{ titulo }}</h1>
<p>En el componente hijo se usa la etiqueta @Input para indicar que esa variable proviene desde fuera (Componente padre). En el componente padre en cambio se usa el selector definido del componente hijo para incluirlo en el HTML y en este pasamos el valor de manera dinámica.</p> 
<p>Esta explicación se ve reflejada el ejemplo de la siguiente imagen:</p> 
<div id="identifica-componentes">
    <img src="https://miro.medium.com/max/1998/0*Q1r33uF76qBaHuOq." alt="identifica-componentes">
</div>
