<h1>{{ titulo }}</h1>
<p>La práctica realizada fue crear un proyecto angular nuevo, luego instalar boostrap, escoger una plantilla css para la página, armar un menú a partir de la creación de componentes, especificamente para cinco secciones en el que cada componente tiene diferente contenido. Estos componentes son llamados desde el principal a travez de rutas gracias a el routerLinkActive y routerLink.</p> 


<div id="practica">
    <img src="https://desarrolloweb.com/storage/article_featured_images/0869QxNDmI9KNXWO0bYUtRKcGQdwn7JqZMTnN72e.jpeg" alt="practica">
</div>
