<h1>{{ titulo }}</h1>
<p>La navegación es la acción de moverse desde una sección a otra de una misma página con ayuda de un menú, se puede realizar con RouterLink y RouterLinkActive. Cuando se aplica a un elemento en una plantilla, convierte ese elemento en un enlace que inicia la navegación a una ruta.</p> 
<p>Para el funcionamiento correcto de esto, es necesario el uso del atributo "router-outlet" en el html principal.</p> 

<div id="routing">
    <img src="https://developer.ibm.com/developer/tutorials/wa-load-feature-modules-in-angular4/images/figure6.jpg" alt="routing">
</div>
